# MongoDB Atlas Connection String
# Lấy từ: https://cloud.mongodb.com
# Format: mongodb+srv://<username>:<password>@<cluster-url>.mongodb.net/<database>?retryWrites=true&w=majority
MONGODB_URI=mongodb+srv://username:password@cluster0.xxxxx.mongodb.net/qlhsvp?retryWrites=true&w=majority

# Port (mặc định 3000)
PORT=3000

# Môi trường (development hoặc production)
NODE_ENV=development
